{{/* For the home page, we manually control the dark mode via the dark: classes in Tailwind. */}}
{{- define "main-classes" -}}
  _nightwind-prevent _nightwind-prevent-block
{{- end -}}

{{ define "header" }}
  <div
    class="h-full lg:h-screen bg-gradient-to-b from-primarydark to-steel-800">
    {{ partial "hero.html" . }}
    {{ partial "boxes-small-news.html" . }}
  </div>
{{ end }}

{{ define "main" }}
  <section
    class="w-full px-4 sm:px-5 py-4 sm:py-20 text-gray-800 bg-gray-100  dark:bg-gray-900">
    {{- partial "home-page-sections/testimonials.html" . -}}
  </section>

  <section
    class="w-full px-4 sm:px-5 py-4 sm:py-16 text-gray-800 bg-gray-200 nightwind-prevent-block">
    <div class="mx-auto max-w-3xl">
      {{ partial "home-page-sections/sponsors.html" (dict "cx" . "gtag" "home" ) }}
    </div>
  </section>

  <section
    class="w-full px-4 sm:px-5 ppy-4 sm:py-16 bg-gray-50 dark:bg-gray-800">
    {{- partial "home-page-sections/features-icons.html" . -}}
  </section>

  {{ partial "home-page-sections/features-single.html" . }}


  <section class="w-full px-4 sm:px-5 py-4 sm:py-12 bg-white dark:bg-gray-600">
    <div class="mx-auto max-w-5xl">
      {{ partial "home-page-sections/showcase2.html" . }}
    </div>
  </section>
{{ end }}
