{{ $currentPage := . }}
<nav
  role="navigation"
  id="main-menu"
  x-data="{ menu: {}, show: true }"
  data-turbolinks-permanent>
  <ul x-cloak class="p-0" x-show.transition.in.opacity.300ms="show">
    {{ range .Site.Menus.docs.ByWeight }}
      {{ $post := printf "%s" .Post }}
      <li
        class="text-base w-full hover:text-hotpink-400 font-extrabold{{ if eq $post "break" }}
          pb-1 border-b border-solid border-gray-200 dark:border-gray-800
        {{ end }}">
        {{ $isCurrent := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }}
        {{ if .HasChildren }}
          <a
            @click="menu['{{ .Identifier }}'] = ('{{ .Identifier }}' in menu) ? !menu['{{ .Identifier }}'] : !{{ $isCurrent }}"
            class="pl-3 inline-block w-full link text-gray-500 cursor-pointer hover:text-hotpink-400 pr-2 py-2 {{ if  $isCurrent }}
              text-steel-500
            {{ end }}">
            {{ .Name }}
          </a>
        {{ else }}
          <a
            href="{{ .URL }}"
            class="pl-3 inline-block w-full link text-gray-500 hover:text-hotpink-400 pr-2 py-1 {{ if  $isCurrent }}
              text-steel-500
            {{ end }}"
            data-target=".{{ .Identifier }}">
            {{ .Name }}
          </a>
        {{ end }}

        {{- if .HasChildren }}
          {{ $hasCurrent :=  $currentPage.IsMenuCurrent "docs" . }}
          <ul
            class="pl-0"
            x-show.transition.origin.top.left="({{ $isCurrent }} && !('{{ .Identifier }}' in menu)) || menu['{{ .Identifier }}']">
            {{- range .Children }}
              <li class="text-sm font-normal">
                <a
                  href="{{ .URL }}"
                  class="block hover:bg-gray-50 hover:text-hotpink-600 pl-6 pr-2 pb-1.5 {{ if $hasCurrent }}
                    text-steel-500
                  {{ else }}
                    black
                  {{ end }}">
                  {{ .Name }}
                </a>
              </li>
            {{- end }}
          </ul>
        {{- end }}
      </li>
    {{- end }}
  </ul>
</nav>
