@import "_header-link.css";
@import "_animation.css";
@import "_documentation-styles.css";*/

@import "docsearch.js/dist/cdn/docsearch.min.css";*/
@import "_carousel.css";
@import "_code.css";
@import "_tabs.css";
@import "_color-scheme.css";
@import "_columns.css";
@import "_content.css";
@import "_content-tables.css";
@import "_definition-lists.css";
@import "_fluid-type.css";
/* TODO1 @import "_font-family.css";
@import "_hugo-internal-template-styling.css";
@import "_no-js.css";
@import "_social-icons.css";
@import "_stickyheader.css";

@import "_svg.css";
