{{ define "main" }}
  {{ $section_to_display := .Pages }}
  <div class="w-full px-4 pb-5 sm:pb-6 pt-1 sm:pt-3">
    <div class="flex">
      <div class="hidden lg:block w-1/5">TODO1 nav</div>
      <div class="w-full lg:w-4/5 py-0 lg:px-4">
        <article class="w-full leading-normal nested-links nested-img">
          <h1 class="text-steel-900 text-4xl">
            {{ .Title }}
          </h1>
        </article>
        <div class="p-3 sm:p-4 w-full v-top column-count-3-l column-gap-1-l">
          {{ range $key, $value := .Data.Terms }}
            <div class="break-inside-avoid-l leading-normal mb5">
              <h2 class="text-2xl">
                <a
                  href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}"
                  class="link text-black hover-blue">
                  {{ $key }}
                  <span class="text-sm text-gray-600"> &#8599; </span>
                </a>
              </h2>
              {{ range $value.Pages }}
                <h3>
                  <a href="{{ .RelPermalink }}" class="link text-royalblue-600">
                    {{ .Title }}
                  </a>
                </h3>
              {{ end }}
            </div>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
{{ end }}
