<div class="ml-2 sm:ml-6 flex items-center" x-data>
  <button
    @click="$store.nav.userSettings.toggleColorScheme()"
    aria-label="Toggle color scheme"
    id="theme-toggle"
    type="button"
    class="inline-flex cursor-pointer items-center p-2 bg-orange-600 hover:bg-orange-700 dark:bg-gray-600 dark:hover:bg-gray-700 border border-transparent rounded-full shadow-sm text-white hover:text-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
    {{/* 1: system 2: light 3: dark */}}
    <i
      class="tabler-automation-outline w-3 h-3 sm:w-5 sm:h-5"
      x-show="$store.nav.userSettings.colorScheme() == 1"></i>
    <i
      class="tabler-sun-outline w-3 h-3 sm:w-5 sm:h-5"
      x-show="$store.nav.userSettings.colorScheme() == 2"></i>
    <i
      class="tabler-brightness-down-outline w-3 h-3 sm:w-5 sm:h-5"
      x-show="$store.nav.userSettings.colorScheme() == 3"></i>
  </button>
</div>
